<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Dodaj zwieżaka do adopcji</h2>
<form action="/addAnimal" method="post">
    <input name="name" placeholder="name"><br>
    <input name="description" placeholder="description"><br>
    <input name="category" placeholder="category"><br>
    <!--<select name="<wybierz>"  placeholder="category">-->
    <!--<option>Psy</option>-->
    <!--<option>Koty</option>-->
    <!--<option>Wszystkie</option>-->
    <!--<option>Inne</option>-->
    <!--</select> <br>-->
    <input name="imgUrl" placeholder="imgUrl"><br>
    <button type="submit">Dodaj zwieżaka</button>
</form>
</body>
</html>