<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
        <li style="list-style-type:none;" th:each="allCateg: ${allCategoryList}">
            <tr>
                <td><img th:src="${allCateg.imgUrl}" alt="" class="rounded-pill"/></td>
            </tr>
            <tr>
                <td>Imie Psa -<span th:text="${allCateg.name}"></span></td>
            </tr>
            <tr>
                <td> Opis:<span th:text="${allCateg.description}"></span></td>
            </tr>
            <tr>
                <td>Kategoria :<span th:text="${allCateg.category}"> </span></td>
            </tr>
        </li>
</table>
</body>
</html>