<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <h3>Koty szukające domu</h3>
    <li style="list-style-type:none;" th:each="cats: ${catList}">
        <tr>
            <td><img th:src="${cats.imgUrl}" alt="" class="rounded-pill"/></td>
        </tr>
        <tr>
            <td>Imie kota -<span th:text="${cats.name}"></span></td>
        </tr>
        <tr>
            <td> Opis:<span th:text="${cats.description}"></span></td>
        </tr>
        <tr>
            <td>Kategoria :<span th:text="${cats.category}"> </span></td>
        </tr>
    </li>
</table>
</body>
</html>