<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Shronisko Reksio i Klakier</h1>

<a href="/"> powrot do listy </a><br>
<a href="/addAnimal"> edytuj dane </a>


<h1 th:text="${animalRudy.name}"></h1>
<p th:text="${animalRudy.description}"></p>

<p> Kot jest niewielkim zwierzęciem. Ma czarne, miękkie futerko. Koniuszek ogona i łapki ma białe. Jego duże żółte
    oczy które widać w ciemności, a jego łapy są zakończone ostrymi pazurami. Gdy jest zdenerwowany jago ogon nerwowo
    uderza o podłogę.
</p>
</body>
</html>